
/* MAIN */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

/* input { 
    caret-color: red;
  } */

img, video {
    max-width: 100%;
    max-height: 100%;
  }


body {
background-repeat: no-repeat;
width: 100%;
height: 100%;
margin:0;
padding:0;
}


/* HEADER - NAV-BAR */

header {
    overflow: hidden;
    background-color: white;
  } 

/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:absolute;
    display:contents;
    
  } 
  
li a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px;
  }

ul {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
li:first-child {
    text-align: left;
}

li {
    text-align: center;
   /*border: 2px solid black;*/
    border-bottom: 2px solid black;
    font-size: 2rem;
  }

li:last-child {
    border-bottom: 2px solid black;
    text-align: right;
  }

li:first-child :hover {
    background-image: url(Billeder/poweruniverse.jpg);
    background-size: cover;
    background-position: center;
    font-size: 4rem;
    color: white;
}

li:first-child :active {
    text-align: center;
    font-size: 6rem;
}

li :hover {
    background-image: url(Billeder/psy2.jpg);
    background-size: cover;
    font-size: 4rem;
    color: white;
}

li :active {
    text-align: right;
    font-size: 6rem;
}

li:last-child :hover {
    background-image: url(Billeder/universe.JPG);
    background-size: cover;
    background-position: center;
    font-size: 4rem;
    color: white;
}

li:last-child :active {
    text-align: left;
    font-size: 6rem;
}
  
.marqueeborder {
    border: solid 2px black;
    overflow: hidden;
    border-left: none;
    border-right: none;
}

.marquee {
    white-space:nowrap;
    animation: rightThenLeft 5s linear;
    position: relative;
    font-size: 2rem;
    text-align: center;
    animation-iteration-count:infinite;
    margin: 10px;

}

.marquee a {
    text-decoration: none;
    color: rgba(168, 19, 19, 0.788);
    display: block;
}

.marqueeborder :hover {
    background-image: url(Billeder/medusa.jpg);
    background-size: 85%;
    background-position: center;
    color: rgba(168, 19, 19, 0.788);
    font-size: 4rem;
}

.marqueeborder1 {
    border: solid 2px black;
    overflow: hidden;
    margin-bottom: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.marquee1 {
    white-space: nowrap;
    animation: leftThenRight 5s linear;
    position: relative;
    font-size: 2rem;
    text-align: center;
    color: rgba(197, 157, 25, 0.897);
    animation-iteration-count:infinite;
    margin: 10px;
}

.marqueeborder1 :hover {
    background-image: url(Billeder/torso.jpg);
    background-size:50%;
    background-position: center;
    color: transparent;
    font-size: 4rem;
    cursor: not-allowed;
}

.marqueeborder2 {
    border: solid 2px black;
    overflow: hidden;
    border-left: none;
    border-right: none;
    border-top: none;
    justify-content: center;
}

.marquee2 {
    white-space:nowrap;
    animation: rightThenLeft2 4s linear;
    position: relative;
    font-size: 2rem;
    text-align: center;
    animation-iteration-count:infinite;
}

.marquee2 img {
    width: 90%;
    height: 90%;
}

.marqueeborder3 {
    border: solid 2px black;
    overflow: hidden;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    place-content: center;
}

.marquee3 {
    white-space:nowrap;
    animation: leftThenRight3 5s linear;
    position: relative;
    font-size: 2rem;
    text-align: center;
    animation-iteration-count:infinite;
}

.marquee3 img {
    width: 90%;
    height: 90%;
} 
@keyframes rightThenLeft {
    0% { left: 100%; }
    100% { left: -100%; }  
}

@keyframes leftThenRight {
    0% { right: 100%; }
    100% { right: -100%; }  
}

@keyframes rightThenLeft2 {
    0% { left: 100%; }
    100% { left: -100%; }  
}

@keyframes leftThenRight3 {
    0% { right: 100%; }
    100% { right: -100%; }  
}

/*Header & Burgermenu*/
@media (max-width: 785px) {
    .logo {
      display: none;
    }
  }
  @media (min-width: 785px) {
    .bm_logo {
      display: none;
    }
  }
  
  .toggle-btn {
    display: none;
  
    /* top: 100%; */
    padding: 10px 20px;
    /* left: 7.5%; */
    text-align: center;
  }
  @media (max-width: 785px) {
    .toggle-btn {
      background: lightgray;
      border: solid 2px black;
      border-top: none;
      border-bottom: none;
      /* min-width: 44px;
      min-height: 44px; */
      font-size: 0.8rem;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      font-size: 2rem;
      color: black;
    }
  
    .toggle-btn:hover {
      color: white;
      background: #a60832;
    }
  
    nav {
      display: none;
    }
  
    nav.shown {
      /* border-top: 1px solid #000; */
      /* padding-top: 1rem; */
      display: flex;
      justify-content: end;
    }
  
    nav ul {
      display: flex;
      flex-flow: column;
      background-color: rgba(163, 17, 52, 0.6);
    }

    .marqueeborder {
        display: none;
    }
  

  .marqueeborder1 {
    display: none;
}

.marqueeborder2 {
    display: none;
}

.marqueeborder3 {
    display: none;
    border-bottom: 2px black solid;
}

  
  .burgermenu {
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
  }
  
::-webkit-scrollbar {
    width: 15px;
    background: #f7ece1;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: calc(15px / 2);
}

/* CURSOR */

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur73.cur), auto !important;} /* End https://www.cursors-4u.com */